/* you can put your code all in one line like above */
#page{ margin: 20px; }


.center {
    margin: auto;
	width: 50%;
}

.item_box {
	margin: 30px 10px;
	background: grey;
	color:white;
	width:250px;
	padding: 10px;
	float:left;
}

.item_box img { 
	width:120px;
	height: 120px;
}

#list_items_container .title{
	font-weight: bold;
	margin-bottom: 10px;
	padding: 10px;
	border-bottom: black 1px solid;
	text-align: center;
}

#list_items_container .description{
	font-weight: normal;
	margin-bottom: 10px;
	padding: 10px;
	border-bottom: black 1px solid;
	text-align: center;
}

#list_items_container .price{
	font-weight: normal;
	margin-bottom: 10px;
	font-size: 23px;
	padding: 10px;
	text-align: center;
}

#single_item_container #single_item_name{
	font-weight: bold;
	font-size: 52px;
	padding: 20px;
	margin: 20px;
}

#single_item_container #single_item_desc{
	font-weight: normal;
	font-size: 24px;
	margin: 20px;
	padding: 20px;
}

#single_item_container #single_item_price{
	font-weight: normal;
	font-size: 34px;
	margin: 20px;
	padding: 20px;
	color: green;
}

.block{
	float:left;
	margin:20px;
}

.block label{
	font-weight: bold;
	font-size: 24px;
	vertical-align: middle;
}

.separator{
	clear: both;
}

button.create{
	margin: 20px;
	padding: 20px;
	font-size: 24px;
	font-weight: bold;
	background: rgb(144, 255, 144);
	border: 2px solid green;
	border-radius:15px;
}

#footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}
	#footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
	}